<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.anychart.com/js/7.14.0/anychart-bundle.min.js"></script>
    <script src="scipts/chart.js"></script>
    <script type='text/javascript' src='https://api.stackexchange.com/js/2.0/all.js'></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/css/7.14.0/anychart-ui.min.css"/>
    <style>
        html, body, .container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="container1">
            <h2>Top chatters</h2>
        </div>
        <div class="col-md-6" id="container2">
        </div>
    </div>
</div>


<script type="text/javascript">
    SE.init({
        clientId: 10912, // Здесь мы ставим выданный нам clientId
        key: 'b)oCEGM7qFF)1NnpNgWbAA((', // А здесь соответственно key
        channelUrl: 'http://vbren.ru/', // Особое внимание стоит уделить этому полю. Здесь нужно указать домен, на котором хостится и крутится приложение
        complete: function (data) { alert("Я загрузился!"); } // Здесь мы указываем некоторую функцию, которая будет выполнена в случае успеха
    });



    anychart.onDocumentReady(function() {
        // create pie chart with passed data
        chart = anychart.pie([
            ['Department Stores', 1],
            ['Discount Stores', 40],
            ['Men\'s/Women\'s Stores', 4],
            ['Juvenile Specialty Stores', 99],
            ['All other outlets', 200]
        ]);
        // set chart labels position to outside
        chart.labels().position('inside');

        // set container id for the chart
        chart.container('container2');
        chart.maxHeight("300px");
        // initiate chart drawing
        chart.draw();
    });
</script>
</body>
</html>